/* no universal selector needed - it's in reset file */

/* display flex is always on parent level  */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
    background-color: lightblue;
}

header h1 {
    width: 50%;
    /* border: 1px black solid; */
    padding: 1%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke: 1px black;
}

header nav {
    width: 50%;
    /* border: 1px black solid; */
    padding: 1%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.header-image {
    position: relative;
    /* display:flex;
    align-items: stretch; */

}
figure {
    background-image: 
    url(https://placehold.co/600x400);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    /* height:max-content;  */
    /* margin: auto; */

}
.header-image img{
    /* border-radius: 4px; */
    position: absolute;
    bottom: 0;
    /* border-right: 1px black solid; */
    /* bottom: 0; */
    left: 50%;
    /* right: 50%; */
    width: 20%;
    z-index: 1;
}
.section-container img {
    width: 100%;
}
.left-side {
    display: flex;
    flex-wrap: wrap;
}

.left-side .title {
    width: 10%;
    border-right: 2px black solid;
    text-align: right;
    padding: 2px;
    margin-right: 10px;
}

.left-side .section-container {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

/* includes the 4 images not the 1st main image*/
.card{
   width: 45%;
   position: relative;
   margin-top: 20px;
}
.card h3{
    position: absolute;
    z-index: 1;
    bottom: 10%;
    color: black;
    background-color: lightblue;
}
/* flex is on ul level */
.section-container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* margin: 3px; */
}
.section-container li{
    padding: 2px;
    margin: 7px;
}
/* first image on screen */
#image1{
    position: relative;
    margin-top: 20px;
}
#image1 h3{
    position: absolute;
    z-index: 1;
    bottom: 10%;

    color: black;
    background-color: lightblue;
}
@media screen and (max-width: 530px){
    header h1{
        white-space: nowrap;
    }
}
@media screen and (max-width: 530px) {
    *{
        display: flex;
        flex-direction: column;
    }
    title {
        display: none;
    }
    .header-image img{
        flex-shrink: 3;
    }
    nav ul{
        flex-direction: column;
    }
    .section-container ul {
        flex-direction: column;
    }
    .section-container ul li {
        padding: 3px;
    }
    .left-side .title {
        border-right: none;
        
    }

}




